p{    
margin: 0;
}

body{
    margin: 0;

}

header{
    height: 110px;
    border-bottom: 1px solid grry;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

.logo{
    height: 47px;
    width: 170px;
    background-image: url(./../images/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    border-right: 1px solid grey;
}

nav{
    display: flex;
    width: 620px;
    height: 21px;
}

.nav_menu{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-right: 47px;
}

#search{
    background: #FFFFFF;
    border: 2px solid #EFEFEF;
    border-radius: 100px;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-right: 20px;
}

#search::placeholder{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #C0C0C0;
}

#upload{
    width: 131px;
    height: 50px;
    background: #3D00B7;
    border-radius: 60px;
    color: white;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: none;
    margin-right: 20px;
}

#connect_wallet{
    width: 156px;
    height: 50px;
    border: 2px solid #3D00B7;
    border-radius: 60px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #3D00B7;
    background-color: white;
}

.hero{
    height: 440px;
    display: flex;
    justify-content: space-around;
    margin: 57px 120px 122px 120px;
}

.hero_header{
    width: 612px;
    font-weight: 900;
    font-size: 52px;
    line-height: 48px;
    font-family: 'Russo One', sans-serif;
    margin-top: 15px;
    margin-left: 52px;
}

.hero_text{
    width: 471px;
    height: 96px;
    font-family: 'DM Sans';
    font-style: normal;
    line-height: 32px;
    font-weight: 400;
    font-size: 20px;
    color: #565656;
    margin-top: 22px;
    margin-left: 52px;
}

#explore{
    width: 209px;
    height: 65px;
    background: #3D00B7;
    border-radius: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    font-family: 'DM Sans', sans-serif;
    color: white;
    border: none;
    margin-top: 61px;
    margin-left: 52px;
}

.amount_box{
    width: 400px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 52px;
}

.amount_numbers{
    widows: 116px;
    height: 75px;
}

.amount{
    font-family: 'Russo One', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.amount_type{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #565656;
}

.features_box{
    width: 100%;
    height: 326px;
    background-color: rgba(217, 224, 236, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 230px;
    box-sizing: border-box;
}

.features_text{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    font-family: 'Russo One', sans-serif;
    width: 368px;
}

.features{
    width: 300px;
    height: 107px;
}

.feature_header{
    display: flex;
}

.feature_header > p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-left: 16px;
}

.features > p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #696969;
    margin-left: 52px;
}

.collection_example{
    height: 808px;
    width: 100%;
    display: flex;
    padding: 134px 230px 134px 300px;
    box-sizing: border-box;
}

.big_picture{
    height: 540px;
    width: 400px;
}

.small_picture{
    width: 439px;
    height: 540px;
}

.top_collection{
    width: 361px;
    height: 540px;
    border-left: 1px solid #ECECEC;;
}

.big_picture_info{
    display: flex;
    margin-top: 32px;
}

.profile_info{
    margin-left: 10px;
    margin-right: 120px;
}

.collection_name{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.stock_amount{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #757575;
}

.hbid{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.bid_amount{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.bid_amount::before{
    content: url(./../images/coin.png);
    margin-right: 5px;
}

.small_picture_box{
    display: flex;
    margin-left: 53px;
    margin-bottom: 40px;
}

.sbox_info{
    margin-left: 20px;
    height: 128px;
    width: 167px;
    margin-top: 10px;
}

.sbox_info_icon{
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
}

.bid_button{
    width: 113px;
    height: 45px;
    border: 2px solid #3D00B7;
    background-color: white;
    border-radius: 50px;
    color: #3D00B7;
    margin-top: 15px;
}

.active{
    color: white;
    background-color: #3D00B7;
}

.amount_block{
    display: flex;
    width: 80.53px;
    height: 32px;
    border: 1px solid #00AC4F;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

.amount_block > p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #00AC4F;
}

.top_collection_header{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Russo One', sans-serif;
    margin-left: 38px;
}

.top_collection_date{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #3D00B7;
    margin: 10px 0 0 42px;
}

.top_collection_grid{
    display: grid;
    grid-auto-rows: 87px;
    margin-left: 40px;
    margin-top: 25px;
}

.tcg_row{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.row_number{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.025em;
    color: #000000;
    margin-right: 20px;
}

.row_info{
    width: 70px;
}

.row_name{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.025em;
}

.row_amount{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.025em;
    color: #636363;
}

.row_percent{
    width: 80px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: -0.025em;
    text-align: right;
    margin-left: 20px;
}

.up{
    color: #14C8B0;
}

.down{
    color: #FF002E;
}

.border{
    border-bottom: 1px solid #F0F0F0;
}

.featured_nft{
    width: 100%;
    height: 619px;
    background-color: rgba(217, 224, 236, 0.2);
    box-sizing: border-box;
    padding-top: 65px;
}

.featured_nft_box{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin: 55px auto
}

.nft_box{
    width: 379px;
    height: 366px;
}

.nft_pictures{
    display: flex;
    width: 100%;
    height: 272.72px;
    justify-content: space-between;
}

.small_pictures_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nft_info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.nft_profile_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 30px;
}

.mt-28{
    margin-top: 28px;
}

.nft_amount{
    width: 98px;
    height: 29px;
    border: 1px solid #2639ED;
    border-radius: 60px;
    background-color: white;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 11.0008px;
    line-height: 14px;
    color: #2639ED;
}

.ml-{
    margin-left: 300px;
}

.sign_up_block{
    width: 100%;
    height: 790px;
    display: flex;
}

.sign_up_left{
    height: 790px;
    width: 700px;
}

.sign_up_right{
    height: 790px;
    width: 517px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign_up_header{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    font-family: 'Russo One', sans-serif;
    width: 290px;
    height: 76px;
    margin-bottom: 40px;
}

.sign_up_text{
    width: 517px;
    height: 145px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 40px;
}

.sign_up_button{
    width: 212px;
    height: 65px;
    background: #3D00B7;
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    font-family: 'DM Sans';
    font-style: normal;
    color: white;
    border: none;
}

#signuppicture1{
    position: absolute;
    margin-left: 1px;
    margin-top: 102px;
}

#signuppicture2{
    position: absolute;
    margin-left: 350px;
    margin-top: 240px;
}
#signuppicture3{
    position: absolute;
    margin-left: 60px;
    margin-top: 456px;
}

.more_nft_block{
    width: 100%;
    height: 2001px;
    background-color: rgba(217, 224, 236, 0.2);
    box-sizing: border-box;
    padding-top: 64px;
}

.more_nft_header{
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    font-family: 'Russo One', sans-serif;
}

.filter_block{
    width: 1220px;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

.fcategory{
    width: max-content;
    height: 38px;
    background: rgba(220, 220, 220, 0.2);
    border-radius: 100px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 12px;
}

.all{
    background: #3D00B7;
    color: white;
}

.all_filters{
    background: rgba(220, 220, 220, 0.2);
    border-radius: 100px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
    color: #371C87;
    padding-left: 50px;
    padding-right: 20px;
}

#all_filters_image{
    position: absolute;
    margin-left: 1108px;
    margin-top: 11px;
}

.nft_grid{
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(4, 373px);
    gap: 40px 51px;
    margin-top: 40px;
}

.nft_box{
    width: 270px;
    height: 373px;
    background: #FFFFFF;
    border: 1.09706px solid rgba(242, 242, 242, 0.5);
    border-radius: 13.1647px;
}

.nft_box_image{
    margin-top: 11px;
    margin-left: 11px;
}

.nft_box_name_margin{
    margin-top: 13px;
    margin-left: 23px;
}

.nft_box_amount{
    display: flex;
    align-items: center;
    width: 250px;
    margin-left: 23px;
    margin-top: 10px;
}

.nft_price{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10.9706px;
    line-height: 14px;
    color: #00AC4F;
    margin-right: 131px;
}


.time_bid{
    display: flex;
    width: 223px;
    height: 51.56px;
    justify-content: space-between;
    border-top: 1px solid #F4F4F4;
    margin-left: 23px;
    margin-top: 15px;
    align-items: center;
}

.time_left{
    background: #F5F5F5;
    border-radius: 109.706px;
    border: none;
    width: 93px;
    height: 29px;
    color: #5539A8;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10.9706px;
    line-height: 19px;

}

.place_bid{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15.3588px;
    line-height: 20px;
    color: #4F33A3;
}

.more_nft_button{
    width: 179px;
    height: 66px;
    border: 2px solid #3D00B7;
    border-radius: 50px;
    background: rgba(217, 224, 236, 0.2);
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #4F33A3;
    margin: 50px auto;
    display: table;
}

footer{
    width: 100%;
    height: 456px;
}